.hero {
    padding: 140px 20px;
    display: block;
    text-align: center;
    border: 20px solid #003087;
    border-radius: 10px;

}


h1 {
    font-size: 85px;
    color: #003087;
}


h2 {
    font-size: 50px;
    color: cornflowerblue;
}


h1,
h2 {
    font-family: 'Fuzzy Bubbles';
    font-weight: bold;
}

a {
    margin: 3px 10px;
    text-decoration: none;
    border: 4px solid #003087;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 20px;
    font-family: 'Fuzzy Bubbles';
}


a:hover {
    background-color: cornflowerblue;
    color: azure;
}


.link {
    margin: 50px auto;
}


.container {
    margin: 90px auto;
    text-align: center;
}


.row {
    display: flex;
    justify-content: space-around;
    margin: 65px;

}

i {
    font-size: 65px;
    color: #003087;
    padding: 10px;
}


.object-name {
    padding: 15px;
    font-size: 25px;
    font-weight: bolder;
    font-family: 'Fuzzy Bubbles';
    color: cornflowerblue;
}


.object-text {
    color: #003087;
    text-align: justify;
    padding: 5px 20px;
}


.projects,
.contacts {
    margin: 30px;
    text-align: left;
}


.projects h2 {
    padding: 0 20px;
}


.contact-list {
    display: flex;
    justify-content: space-around;
    margin: 30px auto;
}


.contacts a {
    border: none;
}

footer {
    background-color: #003087;
    padding: 15px;
    text-align: center;
    color: white;
    font-size: 13px;
}

footer a {
    border: none;
    text-decoration: underline;
    padding: 0;
    color: white;
    font-size: 13px;
}

footer a:hover {
    cursor: pointer;
    text-decoration: underline;
    background-color: #003087;

}

@media (max-width: 800px) {

    .projects {
        display: block;
    }

    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 35px;
    }

    a {
        font-size: 13px;
    }
}


@media (max-width: 500px) {

    h1 {
        font-size: 35px;
    }

    h2 {
        font-size: 20px;
    }

    a {
        font-size: 12px;
    }

    .projects h2 {
        padding: 10px 20px;
    }

    footer {
        padding: 10px;
        font-size: 9px;
    }

    footer a {
        font-size: 9px;
    }

}